* {
  text-decoration: none;
  color: black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

body .wrapper {
  background-image: url(./background.webp);
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: -10;
}

nav {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0 auto;
}

nav .navlogo {
  width: auto;
  height: 40px;
  margin: auto auto auto 20px;
}

nav ul {
  width: 400px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: auto;
  text-decoration: none;
  list-style: none;
}

nav ul li {
  width: 70px;
  height: inherit;
  text-decoration: none;
  text-align: center;
  margin: auto auto auto 30px;
  line-height: 40px;
}

nav .userArea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin: auto 30px auto auto;
}

nav .userArea a {
  margin: auto;
}

.accountInfoWrapper {
  width: 90%;
  height: auto;
  margin: 70px auto auto auto;
  background-color: rgba(255, 255, 255, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.ac {
  width: 300;
  height: 200;
  margin: 30px auto auto 30px;
}

.ac .accountInfo {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.history {
  width: 600;
  height: auto;
  margin: 30px auto auto 30px;
}

.summaryWrapper {
  width: 100%;
  height: 300;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.summaryWrapper .child {
  width: 50%;
  height: inherit;
  margin: 0;
}

.quickActions {
  width: 100%;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.quickActions button {
  width: 100px;
  height: 40px;
  margin: 0 auto auto auto;
  border: none;
  background-color: black;
  border-radius: 25px;
  color: white;
}

.accountTransactions {
  width: 100%;
  height: 4040px;
}

.accountTransactions .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: rgba(255, 255, 255, 0.5);
}

.accountTransactions .header :first-child {
  width: 20%;
  height: 50px;
}

.accountTransactions .header :last-child {
  width: 20%;
  height: 50px;
}

.accountTransactions .header div {
  width: 60%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px white solid;
  border-collapse: collapse;
}

.accountTransactions .transactionsContainer {
  width: 100%;
  height: auto;
}

.accountTransactions .transactionsContainer .transaction {
  width: 100%;
  height: 200px;
  background-color: rgba(0, 0, 0, 0.75);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.accountTransactions .transactionsContainer .transaction :first-child {
  width: 20%;
  height: 200px;
}

.accountTransactions .transactionsContainer .transaction :last-child {
  width: 20%;
  height: 200px;
}

.accountTransactions .transactionsContainer .transaction div {
  width: 60%;
  height: 200px;
  line-height: 200px;
  text-align: center;
  border: 1px white solid;
  border-collapse: collapse;
  color: white;
}
/*# sourceMappingURL=page1style.css.map */